<section class="teams">

    <h2 class="teams__heading">Our services</h2>

    <div class="team">
        <div class="team__orb-container">
            <img class="team__graphic" src="../img/orb2.png" alt="">
        </div>
        <div class="team__content">
            <h2>Integrations</h2>
            <p>Integrations execute the technical implementation of those opportunities and build technology to enable further opportunities at scale.</p>
        </div>
    </div>
    <div class="team team--reverse">
        <div class="team__orb-container">
            <img class="team__graphic" src="../img/orb3.png" alt="">
        </div>
        <div class="team__content">
            <h2>Marketing</h2>
            <p>Marketing spreads awareness of those opportunities to the world and builds a strong brand that is recognized and trusted by end-users and partners.</p>
        </div>
    </div>
    <div class="team">
        <div class="team__orb-container">
            <img class="team__graphic" src="../img/orb4.png" alt="">
        </div>
        <div class="team__content">
            <h2>Partnerships</h2>
            <p>Partnerships create growth opportunities through mutually beneficial collaborations with other projects. </p>
        </div>
    </div>
    <div class="team team--reverse">
        <div class="team__orb-container">
            <img class="team__graphic" src="../img/orb5.png" alt="">
        </div>
        <div class="team__content">
            <h2>Design</h2>
            <p>Design illustrates the messages conveyed by marketing and creates experiences for end-users and partners that are clear, smooth, and enjoyable. </p>
        </div>
    </div>     
    <div class="team">
        <div class="team__orb-container">
            <img class="team__graphic" src="../img/orb1.png" alt="">
        </div>
        <div class="team__content">
            <h2>People Operations</h2>
            <p>People Operations ensures that all of these processes function well within a communicative ecosystem of individuals who are supported in doing their best work.</p>
        </div>
    </div>       
</section>