<div class="mission">
    <div class="mission__container">
        <div class="mission__col">
            <p class="mission__quote"></p>
            <img src="../img/orbs/orb1.png" alt="">
        </div>
        <div class="mission__col">
            <p>We believe that a protocol’s success emerges from a strong interdependent relationship between its core technology and its ability to promote and spread usage of the technology. If one side fails, the project cannot make its impact on the world.</p>
            <p>Orb presents a solution for promoting the growth of the Balancer Protocol through a tightly aligned mix of partnerships, marketing, integrations, design, and people operations work.</p>                                        
        </div>        
    </div>
</div>